<dom-module id="resource-board">
   <template>
      <style>
         :host {
            display: block;
            border-radius: 3px;
            border: 1px solid var(--paper-blue-grey-300);
         }
      </style>

      <div on-click="_goUp">..</div>
      <template is="dom-repeat" items="{{AppData.resource.children}}" as="child">
         <div on-click="_enterChild" class="TR3463643">{{child}}</div>
      </template>
   </template>
   <script>
   class ResourceBoard extends Valentin.AppDataElement
   {
     static get is () { return 'resource-board'; }

     static get properties () {
       return {}
     }

     static get observers () {
       return [
//            '_childrenLoaded(AppData.resource.children)',
         '_locationChanged(AppData.resource.location)'
       ]
     }

     _locationChanged () {
       if (this.AppData.resource) {
          /* load the children */
         Valentin.request(`/vcms/api/resources?location=${this.AppData.resource.location}`, (request, feedback) => {
           Valentin.toast(this, feedback.message, feedback.success);
           if (feedback.success) {
             this.setAppData('resource.children', feedback.data.children);
           }
         });
       }
     }

     _enterChild (e) {
       this.setAppData('resource.location', this.AppData.resource.location + '/' + e.model.child);
     }

     _goUp () {
       let location = this.AppData.resource.location;
       this.setAppData('resource.location',
          location.substr(0, location.lastIndexOf('/')));
     }
   }
   customElements.define(ResourceBoard.is, ResourceBoard);
   </script>
</dom-module>