<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="utils/smart-dialog.html">

<dom-module id="vcms-app-bar">
  <template>
     <style include="iron-flex">
        :host {
           display: block;
           @apply --layout-horizontal;
           @apply --layout-center;

           height: 70px;
           margin: 0 20px;

           border-bottom: 1px solid var(--google-grey-300);
        }

        [hidden] {
           display: none;
        }
     </style>

     <smart-dialog id="smartdialog"></smart-dialog>

     <div class="flex">
        <img src="/img/vcms-logo.svg" height="52px">
     </div>

     <paper-icon-button icon="power-settings-new" on-click="_logoutConfirm" hidden$="{{!connectMode}}"></paper-icon-button>
  </template>
  <script>
  class VcmsAppBar extends Polymer.Element
  {
    static get is () { return 'vcms-app-bar'; }

    static get properties () {
      return {
        connectMode: {
          type: Boolean,
          value: false,
          reflectToAttribute: true,
          notify: true
        }
      }
    }
    _logoutConfirm () {
      this.$.smartdialog.title = 'Logout';
      this.$.smartdialog.message = 'Are you sure to logout ?';
      this.$.smartdialog.function = () => {
        Valentin.request({ url: '/vcms/logout', method: 'POST'}, (request, feedback) => {
          Valentin.toast(this, feedback.message, feedback.success);

          if (feedback.success) {
            window.location.href = '/vcms';
          }
        });
      };

      this.$.smartdialog.open();
    }
  }
  customElements.define(VcmsAppBar.is, VcmsAppBar);
  </script>
</dom-module>